<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/index.css' />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_581626_3qtlmdincjq93sor.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_560878_h4a2zlz0snqoxbt9.css">
  </head>
  <body>
  <div class="background">
    <img src="./images/1.jpg" alt="">
  </div>
  <div class="background2">
    <img src="./images/2.jpg" alt="">
  </div>
  <span class="pagebtn iconfont icon-down"></span>



   <nav>
     <div class="navBox">
       <div><a href="#">首页</a></div>
       <div><a href="#">服务</a></div>
       <div><a href="">活动</a></div>
       <div><a href="#">关于我们</a></div>
     </div>
     <div class="userBox">
       <div class="login"><a href="">登录</a></div>
       <div class="register"><a href="">注册</a></div>
       <div class="github"><a href="">Github登录</a></div>
     </div>
   </nav>

  <section class="section-search">
      <div class="search ">
        <input type="text" class="search-content">
        <span class="searchBtn">搜索</span>
      </div>
      <div class="logo iconfont icon-shu">
        数字图书馆
      </div>
    <div class="logo1">DIGITAL LIBRARY</div>

  </section>

  <!--<section class="section-carousel">-->
      <!--<div class="carouselBox">-->
          <!--<div class="carousel">-->
            <!--<ul class="clearfix">-->
              <!--<li><img src="./images/1.jpg" alt=""></li>-->
              <!--<li><img src="./images/2.jpg" alt=""></li>-->
              <!--<li><img src="3.jpg" alt=""></li>-->
              <!--<li><img src="4.jpg" alt=""></li>-->
            <!--</ul>-->
            <!--<div class="btn">-->
              <!--<span class="iconfont icon-next"></span>-->
              <!--<span class="iconfont icon-last"></span>-->
            <!--</div>-->
            <!--<div class="dots">-->
              <!--<span class="dot iconfont icon-yuan green"></span>-->
              <!--<span class="dot iconfont icon-yuan"></span>-->
              <!--<span class="dot iconfont icon-yuan"></span>-->
              <!--<span class="dot iconfont icon-yuan"></span>-->
            <!--</div>-->

          <!--</div>-->
      <!--</div>-->
  <!--</section>-->


  <script src="/js/index.js"></script>
  </body>
</html>
