<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <script type="text/javascript" src="js/jquery-1.11.2.js"></script>
    <!--<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.js"></script>-->
    <style type="text/css">
        *{ margin:0; padding:0; }
        body{ font:12px/1.125 Arial, Helvetica, sans-serif; background:#fff; }
        a{ color:#0a8cd2; text-decoration:none; }
        a:hover{ text-decoration:underline; }
        .clearfix:after{ content:"."; display:block; height:0; clear:both; visibility:hidden; }
        .clearfix{ display:inline-block; }
        .clearfix{ display:block; }
        .clear{ clear:both; height:0; font:0/0 Arial; visibility:hidden; }
        .none{ display:none }
    </style>
</head>
<body>


        <div class="registerBox">
        <input type="text" id="username"/>Username
        <input type="text" id="password"/>password
        </div>
        <button class="register-btn">注册</button>


        <div class="loginBox">
        <input type="text" id="logusername"/>Username
        <input type="text" id="logpassword"/>password
        </div>
        <button class="login-btn">登陆</button>

        <div class="editBox">
            <input type="text" id="editusername"/>Username
            <input type="text" id="editpassword"/>现密码
        </div>
        <button class="editpassword-btn">修改密码</button>



        <script src="/js/index.js"></script>

</body>
</html>