<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <script type="text/javascript" src="js/jquery-1.11.2.js"></script>
    <!--<script type="text/javascript" src="http://lib.sinaapp.com/js/jquery/1.10.2/jquery-1.10.2.js"></script>-->
    <link rel="stylesheet" href="/css/login.css" type="text/css" media="all" /> <!-- Style-CSS -->
    <link href='http://cdn.webfont.youziku.com/webfonts/nomal/116166/29854/5acb0373f629d904dc4f1177.css' rel='stylesheet' type='text/css' />
</head>
<body>
<div class="center-container">
    <!--header-->
    <div class="header-w3l">
        <h1> 数字图书馆注册</h1>
    </div>
    <!--//header-->
    <div class="main-content-agile">
        <div class="sub-main-w3">
            <div class="wthree-pro">
                <h2>Register Quick</h2>
            </div>

            <div class="errormsg"></div>

            <div class="pom-agile">
                <input placeholder="请输入用户名" name="Name" class="user" type="email" required="" id="username">
                <span class="icon1"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div>
            <div class="pom-agile">
                <input  placeholder="请输入密码" name="Password" class="pass" type="password" required=""  id="password">
                <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
            </div>
            <div class="pom-agile">
                <input  placeholder="Password" name="Password" class="pass" type="password" required="" id="password2">
                <span class="icon2"><i class="fa fa-unlock" aria-hidden="true"></i></span>
            </div>
            <div class="sub-w3l">
                <h6><a href="/auth/log">登陆</a></h6>
                <div class="right-w3l register-btn">
                    <input type="submit" value="注册" >
                </div>
            </div>

        </div>
    </div>
    <!--//main-->
    <!--footer-->
    <div class="footer">
        <p>&copy; 2017 Online Login Form. All rights reserved </p>
    </div>
</div>
<!--

<div class="registerBox">
<input type="text" id="username"/>用户名
<input type="text" id="password"/>密码
</div>
<button class="register-btn">注册</button>


<div class="loginBox">
<input type="text" id="logusername"/>用户名
<input type="text" id="logpassword"/>密码
</div>
<button class="login-btn">登陆</button>

<div class="editBox">
    <input type="text" id="editusername"/>用户名
    <input type="text" id="editpassword"/>现密码
</div>
<button class="editpassword-btn">修改密码</button>
-->



<script src="/js/index.js"></script>

</body>
</html>
