<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>.
    <link rel='stylesheet' href='/css/searchstyle.css' />
    <link rel="stylesheet" href="//at.alicdn.com/t/font_581626_3qtlmdincjq93sor.css">
    <link rel="stylesheet" href="//at.alicdn.com/t/font_560878_h4a2zlz0snqoxbt9.css">

</head>
<body>
<div id="content">

</div>

<script src="/js/search.js"></script>
</body>
</html>
